html{
    margin: 0;
    font-size: 62.5%;
}
section{
    display: block;
    margin: 2rem;
}
h2{
 font-size: 3rem;
}
.slider{
    margin: 0 30px;
    overflow-x: scroll;
    position: relative;
}
.exercise{
    width: 100%;
    margin: 1.5rem;
}
.container{
    display: flex;
    flex-direction: row;
}
.item{
    margin: 1rem;
}
.photo{
    border-radius: 1.5rem;
    height: 100%;
}
