
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <div class="navegador">
        <h3>BARRA DE NAVEGACIÓN</h3>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/poems">Poemas</a>
                </li>
            </ul>
        </nav>
        <h4>TIME: </h4><%= new Date() %>
    </div>
</head>
<body>
    <h1><%= message %></h1>


</body>
</html>